h1 詳細

p Id
p =@user.id
p Name
p =@user.name
p Address
p =@user.address
p Email
p =@user.email
p Created_at
p =l(@user.created_at)
p Updated_at
p =l(@user.updated_at)
p avatar
= image_tag @user.avatar_url, size: '200x200' if @user.avatar?
