h1 詳細

p Id
p =@book.id
p Title
p =@book.title
p publisher
p =@book&.publisher&.name
p author
p =@book&.author&.name
p release_date
p =@book.release_date
p Created_at
p =l(@book.created_at)
p Updated_at
p =l(@book.updated_at)
